{% extends 'base.html' %}

{% block navbar %}
   <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="{% url 'home' %}">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'bio' %}">Biography</a>
          </li>
        </ul>
      </div>
    </nav>
{% endblock %}

{% block content %}
<div class="container">
      <!-- Example row of columns -->
      <div class="row col-xs-12">
        <h1>Biography of Leo Ogle</h1>
      </div>
      <hr>
      <div class="row col-xs-12">
        <p>Leo E. Ogle was born on September 25, 2004 in Rochester, MN. Since he was a wee lad young he had always enjoyed serving, and had aspired to do good for all. He has lived in five different houses over 13 years, so you could say he has a pretty diverse background. Since Leo has been going to school at Our Lady of Grace, he has always seen something lacking in our student council. That is respect for the student body. Our student council has consistently bent the knee to the administration, but that will no longer go on, if you elect Leo Ogle as your Student Council President, vote Ogle for office.</p>
      </div>
      <hr>
      <div class="row col-xs-12"><p><a class="btn btn-primary btn-lg" href="{% url 'home' %}" role="button">Go Home »</a></p></div>
      <hr>

      <footer>
        <i>NOTE: All Times are in Central Time (America/Chicago)</i>
        <p>© Student Power Foundation <script>document.write(new Date().getFullYear());</script></p>
      </footer>
</div>
{% endblock %}