{% extends 'base.html' %}

{% block title %}Biography of All Candidates{% endblock %}

{% block navbar %}
   <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="{% url 'home' %}">The Llamas!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'bio' %}">Biography</a>
          </li>
        </ul>
      </div>
    </nav>
{% endblock %}

{% block content %}
<div class="container">
      <!-- Example row of columns -->
      <div class="row col-xs-12">
        <h1>Biography of Leo Ogle</h1>
      </div>
      <div class="row col-xs-12">
        <p>Leo is running for the position of Male Student Council President.</p>
      </div>
      <hr>
      <div class="row col-xs-12">
        <p>Leo E. Ogle was born on September 25, 2004 in Rochester, MN. Since he was a wee lad he had always enjoyed serving, and had aspired to do good for all. He has lived in five different houses over 13 years, so you could say he has a pretty diverse background. Since Leo has been going to school at Our Lady of Grace, he has always seen something lacking in our student council. That is respect for the student body. Our student council has consistently bent the knee to the administration, but that will no longer go on, if you elect Leo Ogle as your Student Council President, vote Ogle for office.</p>
      </div>
      <hr>
      <div class="row col-xs-12">
         <script type="text/javascript">
            (function() {
               if (window.CHITIKA === undefined) { window.CHITIKA = { 'units' : [] }; }
               var unit = {"calltype":"async[2]","publisher":"gamergames123","width":728,"height":90,"sid":"Chitika Default"};
               var placement_id = window.CHITIKA.units.length;
               window.CHITIKA.units.push(unit);
               document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
            }());
         </script>
         <script type="text/javascript" src="//cdn.chitika.net/getads.js" async></script>
      </div>
      <hr>
      <div class="row col-xs-12">
         <h1>Biography of Miguel Nunez-Mudoy</h1>
         <p>Miguel is running for the position of Student Council Technology & Promotions.</p>
      </div>
      <hr>
      <div class="row col-xs-12">
         <b>WARNING: THIS BIO INVOLVES COW PUNS</b>
         <br>
         <p>Miguel Nunez Mudoy is a name you probably have never heard of, but here is a Moo-ving speach about his life. It all started on the 8th of November 2004 (not 4 days later because I Beef-leif that I am better than that). Then fast forward to some time between 4th and 5th grade, young me decides "If one of my close friends can win the geo bee than I can moo something too!", or something like that. I am not confident at all, in fact very scared I will fail my colleagues. I am counting on your vote.</p>
      </div>
      <hr>
      <div class="row col-xs-12">
         <script type="text/javascript">
            (function() {
               if (window.CHITIKA === undefined) { window.CHITIKA = { 'units' : [] }; }
               var unit = {"calltype":"async[2]","publisher":"gamergames123","width":728,"height":90,"sid":"Chitika Default"};
               var placement_id = window.CHITIKA.units.length;
               window.CHITIKA.units.push(unit);
               document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
            }());
         </script>
         <script type="text/javascript" src="//cdn.chitika.net/getads.js" async></script>
      </div>
      <div class="row col-xs-12">
         <h1>Biography of Jackie Commerford</h1>
      </div>
      <div class="row col-xs-12">
         <p>Jackie is running for the position of Female Student Council President.</p>
      </div>
      <hr> 
      <div class="row col-xs-12">
         <p>I am the spark that will light the lives of hundreds of children. I will bring down wrong-doings, and spawn happiness in the hearts of everyone. I will never have the privilege to serve the American people as their president, (as a result of being born in China). I would be honored to serve as your student counsel president on behalf of OLG. I was born in China, February 20 th , 2005. My name is Jackie Commerford. Ever since my early days at Our Lady of Grace I have interacted with many great boys and that have inspired me. Now is my last chance do my part and inspire the future boys and girls of our community. Vote Jackie for president!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! :) ;)</p>
      </div>
      <hr>
      <div class="row col-xs-12"><p><a class="btn btn-primary btn-lg" href="{% url 'home' %}" role="button">Go Home »</a></p></div>
      <hr>

      <footer>
        <i>NOTE: All Times are in Central Time (America/Chicago)</i>
      </footer>
</div>
{% endblock %}
