{% extends 'base.html' %}


{% block title %}OLG Bull Moose Campaign{% endblock %}

{% block content %}
<div class="container">
<h1>Learn all about every campaign you should vote for!</h1>
<div class="row">
    <div class="col-md-6"><img src="/static/img/Leo.jpg" width="100%" height="auto"></div>
    <div class="col-md-6"><img src="/static/img/Campaign.jpg" width="100%" height="auto"></div>
</div>
<div class="row">
    <div class="col-md-3"
</div>
<h2>Leo Edward Ogle</h2>
<a href="{% url 'bio' %}">View Biography</a>
      <hr>

      <footer>
        <i>NOTE: All Times are in Central Time (America/Chicago)</i>
      </footer>
{% endblock %}