{% extends 'base.html' %}

{% block title %}Home - Campagin overveiws{% endblock %}

{% block navbar %}
   <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="{% url 'home' %}">The Llamas!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'bio' %}">Biography</a>
          </li>
        </ul>
      </div>
    </nav>
{% endblock %}

{% block jumbotron %}
<div class="jumbotron" style="font-family: cursive !important;">
        <div class="container">
          <h1 class="display-3">Power to the Students!</h1>
          <i>- OLG Llama Campaign (2017)</i>
          <p><a class="btn btn-primary btn-lg" href="{% url 'campaign' %}" role="button">Learn more about the OLG Llama campaign »</a></p>
        </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Student Newspaper</h2>
          <p>Some Llama Party members run a student newspaper!</p>
          <p><a class="btn btn-secondary" href="{% url 'newspapers' %}" role="button">See newspaper »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Ask A Question</h2>
          <p>If you have a question for us, ask it here!</p>
          <p><a class="btn btn-secondary" href="{% url 'ask' %}" role="button">Ask Question »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Candidates</h2>
          <p>Learn more about the canidates like Leo Ogle, Jackie Comerford, Will Howell, and Miguel Nunez Mudoy</p>
          <p><a class="btn btn-secondary" href="{% url 'campaign' %}" role="button">View details »</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <i>NOTE: All Times are in Central Time (America/Chicago)</i>
      </footer>
</div>
{% endblock %}