{% extends 'base.html' %}

{% block title %}Newspapers - Leo's Newspaper Corner{% endblock %}

{% block navbar %}
   <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="{% url 'home' %}">The Llamas!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'bio' %}">Biography</a>
          </li>
        </ul>
      </div>
    </nav>
{% endblock %}
{% block content %}
      {% for newspaper in newspapers %}
        <div class="row">
               {% for n in newspaper %}
                <div class="col-md-4" style="border: 1px solid black;">
                    <h1><a href="{{n.pk}}/">{{ n.name }}</a></h1>
                    <hr>
                    {% with n.get_latest_post as latest %}
                        <h3>Latest Article:</h3>
                        <h4>{{ latest.name }}</h4>
                        <i>Published on {{ latest.datePosted }}</i>
                    {% endwith %}
                </div>
                {% endfor %}
            </div>
      {% endfor %}
      <div class="row">
         <div class="col-xs-9"><h1>Listen to Literary Discussion:    </h1></div>
         <div class="col-xs-3">
            <audio controls>
               <source src="/static/literary-discussion.mp3" type="audio/mpeg" />
            </audio>
         </div>
      </div>
{% endblock %}