{% extends 'base.html' %}

{% block title %}{{newspaper.name}} Newspaper{% endblock %}

{% block navbar %}
   <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="{% url 'home' %}">The Llamas!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'bio' %}">Biography</a>
          </li>
        </ul>
      </div>
    </nav>
{% endblock %}
{% block content %}
      {% for article in articles %}
        <div class="row">
            {% for a in article %}
                <div class="col-md-4" style="border: 1px solid black;">
                    <h1><a href="{{a.pk}}/">{{ a.name }}</a></h1>
                    <p>{{a.summary}}</p>
                </div>
            {% endfor %}
        </div>
      {% endfor %}
        <a href="../">Back to Newspapers</a>
{% endblock %}